<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Switch | Donations Done Better</title>
    <link rel="stylesheet" href="/css/switch.css"/>
    <link href="/css/prettify.css" type="text/css" rel="stylesheet" />
    <link href="/css/datepicker.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/fileuploader.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.24.custom.css">
    <link href='http://fonts.googleapis.com/css?family=Cabin|Raleway:400,300' rel='stylesheet' type='text/css'>
    <!-- When you load angular at the bottom, you need to create the "ng-cloak" rules yourself -->
    <style type="text/css">
      @charset "UTF-8";
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none;
      }

      ng\:form {
        display: block;
      }
    </style>
</head>
<body>
  <div ng-app="switchapp" ng-controller="AppController">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Switch</a>
        <ul class="nav">
          <li><a href="#/documents">Documents (Beta)</a></li>
        </ul>
        <ul class="nav pull-right">
          <li ng-class="alertType" class="loadingMessage btn-warning" ng-show="alertMessage != ''" ng-cloak>
            <span class="message">{{alertMessage}}</span>
          </li>
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user.fullname %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#/account"><i class="icon-cog"></i> Account Settings</a></li>
              <li class="divider"></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <ng-view></ng-view>

    <div class="container">
      <div id="footer" class="row-fluid">
        <div id="footer">
          <span>© Switch 2012</span>
        </div>
      </div>
    </div>
  </div>

  <!--
  <div class="span4 offset3"><div id="switch-widget-506bc5ce34478c5775000001" class="switch-widget"></div>
              <script type="text/javascript" src="http://localhost:3000/api/widgets/506bc5ce34478c5775000001/embed/js"></script></div>
  -->

  <script type="text/javascript" src="/lib/jquery-1.8.1/jquery-1.8.1.js"></script>
  <script type="text/javascript" src="/lib/jquery-ui-1.8.24.custom.min.js"></script>
  <script type="text/javascript" src="/lib/highcharts-2.3.2/js/highcharts.js" type="text/javascript"></script>
  <script type="text/javascript" src="/lib/angular-1.0.2/angular.js"></script>
  <script type="text/javascript" src="/lib/angular-1.0.2/angular-resource.js"></script>
  <script type="text/javascript" src="/lib/angular-1.0.2/angular-cookies.min.js"></script>
  <script type="text/javascript" src="/lib/angular-ui/angular-ui.js"></script>
  <script type="text/javascript" src="/lib/bootstrap-2.1.1/js/bootstrap.js"></script>
  <script type="text/javascript" src="/lib/underscore.js"></script>
  <script type="text/javascript" src="/lib/fileuploader.js"></script>

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="/lib/prettify.js"></script>
  <script type="text/javascript" src="/lib/bootstrap-datepicker.js"></script>

  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/controllers/controllers.js"></script>
  <script type="text/javascript" src="/js/directives/directives.js"></script>
  <script type="text/javascript" src="/js/services/WidgetService.js"></script>
</body>
</html>
