
#columns {
  
}

footer {
  height:10px;
  padding: 10px 0 20px;
  text-align: center;

  li {
    display: inline;
    list-style-type: none;
    font-size: 0.9em;
    margin-right: 30px;
  }
}

.push {
    height: 4em;
}

#loginForm a:hover {
  text-decoration: none;
}

.password-meter-message-strong {
  color: #8AD7B7;
}

footer a {
  color: inherit;
}

footer a:hover {
  text-decoration: none;
}

h1.logo {
  font-family: 'Nothing You Could Do', cursive;
}

#button-container {
  margin-top: 50px;
}

h4.step-one {
    background: url(http://placehold.it/32x32);
    background-repeat:no-repeat;
    background-position:left center;
    padding-left: 40px;
    height: 32px;
    padding-top: 10px;
}

h4.step-two {
    background: url(http://placehold.it/32x32);
    background-repeat:no-repeat;
    background-position:right center;
    padding-right: 40px;
    height: 32px;
    padding-top: 10px;
}

h4.step-three {
    background: url(http://placehold.it/32x32);
    background-repeat:no-repeat;
    background-position:left center;
    padding-left: 40px;
    height: 32px;
    padding-top: 10px;
}

.header-button {
  background-color: #FFB94B;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FDDB6F), to(#FFB94B));
  background-image: -webkit-linear-gradient(top, #FDDB6F, #FFB94B);
  background-image: -moz-linear-gradient(top, #FDDB6F, #FFB94B);
  background-image: -ms-linear-gradient(top, #FDDB6F, #FFB94B);
  background-image: -o-linear-gradient(top, #FDDB6F, #FFB94B);
  background-image: linear-gradient(top, #FDDB6F, #FFB94B);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  border-width: 1px;
  border-style: solid;
  border-color: #D69E31 #E3A037 #D5982D #E3A037;
  width: 150px;
  height: 35px;
  color: #8F5A0A;
  cursor: pointer;
  padding: 10px 80px 10px 80px;
}

.header-button:hover {
  text-decoration: none;
}

a.logo-link {
  color: @grayDark;
}

h1.logo a:hover {
  text-decoration:none;
}

ul.global {
  float: right;
  margin-right: 12px;
  position: relative;
  padding: 2px 6px;
  list-style-type: disc;
}

ul.global a {
  display: block;
  font-size: 11px;
  color: white;
  padding: 3px 10px;
  text-shadow: 0 1px 0white;
  text-decoration: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: color 150ms ease;
}

#home-widget-list .currency {
  color: green;
}

#account-settings-container .icon-chevron-left {
  margin-top: 11px;
  margin-right: 20px;
}

a.back .icon-chevron-left {
  margin-top: 11px;
  margin-right: 20px;
}

ul.global li {
    display: block;
    float: left;
    padding: 0 2px;
    list-style: none;
}

#info-header span.emphasize {
  font-size: 18px;
}

span.text-green {
    color: #8AD7B7;
}

div.signin {
    float: right;
}

div.register {
    float: right;
    margin-left: 10px;
}

div.intro-content {
    postion: relative;
}

div.intro-container {
    margin-bottom: 10px;
}

div.navigation {
    padding-top: 24px;
    position: relative;
}


img#intro {
    position: absolute;
    right: 20px;
}

div#info-header {
    margin-bottom: 20px;
}

div#info {
    text-align: center;
}

div.content-box {
    margin-top: 40px;
}

#columnsCollections {
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill: auto;
  -moz-column-width: 150px;
  -webkit-column-width: 150px;
}

li.loadingMessage {
  margin-top: 10px;
  opacity:0.6;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  height: 25px;
}

span.message {
  padding: 20px;
}

.pin {
  display: inline-block;
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1;
  
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;

  text-align: center;
  margin-right: 50px;
}

.pin a {
  text-decoration: none;
}
.pin a:link {
  color: @gray;
}
.pin a p {
  color: @textColor;
}

#columns:hover .pin:not(:hover) {
  opacity: 0.9;
}
