div.intro-content {
    font-size: 18px;  
    line-height: 1.5; 
    font-weight: bold;
}

.button-gray { 
  background-color: whiteSmoke; 
}
.button-blue { 
  background-color: #006DCC; 
}
.button-lightblue { 
  background-color: #49AFCD; 
}
.button-green { 
  background-color: #5BB75B; 
}
.button-yellow { 
  background-color: #FAA732;
}
.button-red { 
  background-color: #DA4F49;
}

.step-header-help {
    margin-bottom: 40px;
}

#color-picker .span5 {
    height: 50px;
    border-radius: 5px;
    margin: 3px;
}

#color-picker .span5:hover {
    cursor: pointer;
}

a.signup {
    margin-top: 57px;
    margin-left: 105px;
    width: 250px;
}

h1.header {

}

div.row-buttons {
    margin-bottom: 40px;
}

div.header {
    height: 90px;
}

div.header h1 {
    float: left;
    margin-top: 20px;
    width: 72px;
}

div.row-buttons {
    margin-bottom: 40px;
}

div.header {
    height: 90px;
}

div.header h1 {
    float: left;
    margin-top: 20px;
    width: 72px;
}


ul.global {
    float: right;
    margin-right: 12px;
    position: relative;
    padding: 2px 6px;
    list-style-type: disc;
}

a.btn-signup {
    color: #F8F8F8;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5BB75B;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#62C462),to(#51A351));
    background-image: -webkit-linear-gradient(top,#62C462,#51A351);
    background-image: -o-linear-gradient(top,#62C462,#51A351);
    background-image: linear-gradient(to bottom,#62C462,#51A351);
    background-image: -moz-linear-gradient(top,#62C462,#51A351);
    background-repeat: repeat-x;
    border-color: #51A351 #51A351 #387038;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462',endColorstr='#ff51a351',GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);

}

div.register {
    margin-left: 10px;
}

div.intro-content {
    postion: relative;
}

div.intro-container {
    margin-bottom: 10px;
}

div.navigation {
    padding-top: 24px;
    position: relative;
}

img {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    margin: 0 auto 10px;
}

div.intro-content {
    postion: relative;
}

div.content-box {
    margin-top: 40px;
}

#donate {
    margin-left: 20px;
}

.popover {
    width: 275px;
}

.exp-month {
    width: 125px;
}

.exp-year {
    margin-left: 10px;
    width: 50px;
}

.amount-input {
    width: 30px;
}

.wizard-buttons {
    height: 40px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
}

#own-text {
    width: 70%;
}

.help-block-error {
    color: red;
    display: none;
}
.preview {
    font-weight: bold;
    margin-bottom: 10px;
}

.preview-button {
    text-align: center;
}

.progress {
    height: 5px;
}

.step {
    text-align: center;
}

div.first {
    margin-left: 20px;
} 

.option {
    min-height: 120px !important; 
    padding-bottom: 20px;
    background-color: whiteSmoke;
    border: 1px solid #E3E3E3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.selected {
    min-height: 120px;
    padding-bottom: 20px;
    background-color: #E8E8E8;
    border: 1px solid #E3E3E3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.option:hover {
    background-color: #E8E8E8;
    border: 1px solid #E3E3E3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}


div.main {
  padding: 20px;
  background: white;

  position: relative;
  opacity: 1;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 1px rgba(206, 234, 174, 0.1),0 1px 5px rgba(206, 234, 174, 1);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.1),0 2px 6px rgba(0,0,0,0.31);
  box-shadow: 0 0 1px rgba(206, 234, 174, 0.1),0 1px 5px rgba(206, 234, 174, 1);
}

div.content-box {
    margin-top: 40px;
}

.color-table {
    width: 80%;
    margin-left: 20px;
}

.color {
    height: 50px;
}

.body-form {
    padding: 15px;
}
