(function() {
  var jQuery;
  var onLoadTime = new Date().getTime();
  var base_url = "<%=baseUrl%>";
  var widget_id = "<%=widget.id%>";

  function require(file, callback) {
     var newjs = document.createElement('script');

    // IE
    newjs.onreadystatechange = function () {
       if (newjs.readyState === 'loaded' || newjs.readyState === 'complete') {
          newjs.onreadystatechange = null;
          callback();
       }
    };
    // others
    newjs.onload = function () {
       callback();
    }; 
    newjs.src = file;
    (document.getElementsByTagName("head")[0] || document.documentElement).appendChild(newjs);
  }

  if (window.jQuery === undefined || window.jQuery.fn.jquery !== '1.7.1') {
    require("https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js", function() {
      jQuery = window.jQuery.noConflict(true);
      loadPlugin();
    });
  } else {
    jQuery = window.jQuery.noConflict(true);
    loadPlugin();
  }

  function loadPlugin() {

    /* -------- BUTTON  ------- */
    var Button = function (element, options) {
      this.$element = jQuery(element);
      this.options = jQuery.extend({}, jQuery.fn.button.defaults, options);
    }

    Button.prototype.setState = function (state) {
      var d = 'disabled'
        , $el = this.$element
        , data = $el.data()
        , val = $el.is('input') ? 'val' : 'html'

      state = state + 'Text'
      data.resetText || $el.data('resetText', $el[val]())

      $el[val](data[state] || this.options[state])

      // push to event loop to allow forms to submit
      setTimeout(function () {
        state == 'loadingText' ?
          $el.addClass(d).attr(d, d) :
          $el.removeClass(d).removeAttr(d)
      }, 0)
    }

    Button.prototype.toggle = function () {
      var $parent = this.$element.closest('[data-toggle="buttons-radio"]')

      $parent && $parent
        .find('.active')
        .removeClass('active')

      this.$element.toggleClass('active')
    }


   /* BUTTON PLUGIN DEFINITION
    * ======================== */

    jQuery.fn.button = function (option) {
      return this.each(function () {
        var $this = jQuery(this)
          , data = $this.data('button')
          , options = typeof option == 'object' && option
        if (!data) $this.data('button', (data = new Button(this, options)))
        if (option == 'toggle') data.toggle()
        else if (option) data.setState(option)
      })
    }

    jQuery.fn.button.defaults = {
      loadingText: 'loading...'
    }

    jQuery.fn.button.Constructor = Button


   /* BUTTON DATA-API
    * =============== */

    jQuery(function () {
      jQuery('body').on('click.button.data-api', '[data-toggle^=button]', function ( e ) {
        var $btn = jQuery(e.target)
        if (!$btn.hasClass('btn')) $btn = $btn.closest('.btn')
        $btn.button('toggle')
      })
    })

    /* -------- TOOLTIP ------- */
    var Tooltip = function (element, options) {
      this.init('tooltip', element, options)
    };

    Tooltip.prototype = {

      constructor: Tooltip

    , init: function (type, element, options) {
        var eventIn
          , eventOut

        this.type = type
        this.$element = jQuery(element)
        this.options = this.getOptions(options)
        this.enabled = true

        if (this.options.trigger == 'click') {
          this.$element.on('click.' + this.type, this.options.selector, jQuery.proxy(this.toggle, this))
        } else if (this.options.trigger != 'manual') {
          eventIn = this.options.trigger == 'hover' ? 'mouseenter' : 'focus'
          eventOut = this.options.trigger == 'hover' ? 'mouseleave' : 'blur'
          this.$element.on(eventIn + '.' + this.type, this.options.selector, jQuery.proxy(this.enter, this))
          this.$element.on(eventOut + '.' + this.type, this.options.selector, jQuery.proxy(this.leave, this))
        }

        this.options.selector ?
          (this._options = jQuery.extend({}, this.options, { trigger: 'manual', selector: '' })) :
          this.fixTitle()
      }

    , getOptions: function (options) {
        options = jQuery.extend({}, jQuery.fn[this.type].defaults, options, this.$element.data())

        if (options.delay && typeof options.delay == 'number') {
          options.delay = {
            show: options.delay
          , hide: options.delay
          }
        }

        return options
      }

    , enter: function (e) {
        var self = jQuery(e.currentTarget)[this.type](this._options).data(this.type)

        if (!self.options.delay || !self.options.delay.show) return self.show()

        clearTimeout(this.timeout)
        self.hoverState = 'in'
        this.timeout = setTimeout(function() {
          if (self.hoverState == 'in') self.show()
        }, self.options.delay.show)
      }

    , leave: function (e) {
        var self = jQuery(e.currentTarget)[this.type](this._options).data(this.type)

        if (this.timeout) clearTimeout(this.timeout)
        if (!self.options.delay || !self.options.delay.hide) return self.hide()

        self.hoverState = 'out'
        this.timeout = setTimeout(function() {
          if (self.hoverState == 'out') self.hide()
        }, self.options.delay.hide)
      }

    , show: function () {
        var $tip
          , inside
          , pos
          , actualWidth
          , actualHeight
          , placement
          , tp

        if (this.hasContent() && this.enabled) {
          $tip = this.tip()
          this.setContent()

          if (this.options.animation) {
            $tip.addClass('fade')
          }

          placement = typeof this.options.placement == 'function' ?
            this.options.placement.call(this, $tip[0], this.$element[0]) :
            this.options.placement

          inside = /in/.test(placement)

          $tip
            .remove()
            .css({ top: 0, left: 0, display: 'block' })
            .appendTo(inside ? this.$element : document.body)

          pos = this.getPosition(inside)

          actualWidth = $tip[0].offsetWidth
          actualHeight = $tip[0].offsetHeight

          switch (inside ? placement.split(' ')[1] : placement) {
            case 'bottom':
              tp = {top: pos.top + pos.height, left: pos.left + pos.width / 2 - actualWidth / 2}
              break
            case 'top':
              tp = {top: pos.top - actualHeight, left: pos.left + pos.width / 2 - actualWidth / 2}
              break
            case 'left':
              tp = {top: pos.top + pos.height / 2 - actualHeight / 2, left: pos.left - actualWidth}
              break
            case 'right':
              tp = {top: pos.top + pos.height / 2 - actualHeight / 2, left: pos.left + pos.width}
              break
          }

          $tip
            .css(tp)
            .addClass(placement)
            .addClass('in')
        }
      }

    , setContent: function () {
        var $tip = this.tip()
          , title = this.getTitle()

        $tip.find('.tooltip-inner')[this.options.html ? 'html' : 'text'](title)
        $tip.removeClass('fade in top bottom left right')
      }

    , hide: function () {
        var that = this
          , $tip = this.tip()

        $tip.removeClass('in')

        function removeWithAnimation() {
          var timeout = setTimeout(function () {
            $tip.off($.support.transition.end).remove()
          }, 500)

          $tip.one($.support.transition.end, function () {
            clearTimeout(timeout)
            $tip.remove()
          })
        }

        jQuery.support.transition && this.$tip.hasClass('fade') ?
          removeWithAnimation() :
          $tip.remove()

        return this
      }

    , fixTitle: function () {
        var $e = this.$element
        if ($e.attr('title') || typeof($e.attr('data-original-title')) != 'string') {
          $e.attr('data-original-title', $e.attr('title') || '').removeAttr('title')
        }
      }

    , hasContent: function () {
        return this.getTitle()
      }

    , getPosition: function (inside) {
        return jQuery.extend({}, (inside ? {top: 0, left: 0} : this.$element.offset()), {
          width: this.$element[0].offsetWidth
        , height: this.$element[0].offsetHeight
        })
      }

    , getTitle: function () {
        var title
          , $e = this.$element
          , o = this.options

        title = $e.attr('data-original-title')
          || (typeof o.title == 'function' ? o.title.call($e[0]) :  o.title)

        return title
      }

    , tip: function () {
        return this.$tip = this.$tip || $(this.options.template)
      }

    , validate: function () {
        if (!this.$element[0].parentNode) {
          this.hide()
          this.$element = null
          this.options = null
        }
      }

    , enable: function () {
        this.enabled = true
      }

    , disable: function () {
        this.enabled = false
      }

    , toggleEnabled: function () {
        this.enabled = !this.enabled
      }

    , toggle: function () {
        this[this.tip().hasClass('in') ? 'hide' : 'show']()
      }

    , destroy: function () {
        this.hide().$element.off('.' + this.type).removeData(this.type)
      }

    }


   /* TOOLTIP PLUGIN DEFINITION
    * ========================= */

    jQuery.fn.tooltip = function ( option ) {
      return this.each(function () {
        var $this = $(this)
          , data = $this.data('tooltip')
          , options = typeof option == 'object' && option
        if (!data) $this.data('tooltip', (data = new Tooltip(this, options)))
        if (typeof option == 'string') data[option]()
      })
    }

    jQuery.fn.tooltip.Constructor = Tooltip

    jQuery.fn.tooltip.defaults = {
      animation: true
    , placement: 'top'
    , selector: false
    , template: '<div class="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'
    , trigger: 'hover'
    , title: ''
    , delay: 0
    , html: true
    }

    /* -------- POPOVER ------- */
    var Popover = function (element, options) {
      this.init('popover', element, options);
    }

    Popover.prototype = jQuery.extend({}, jQuery.fn.tooltip.Constructor.prototype, {
      constructor: Popover

      , setContent: function () {
          var $tip = this.tip()
            , title = this.getTitle()
            , content = this.getContent()

          $tip.find('.popover-title')[this.options.html ? 'html' : 'text'](title)
          $tip.find('.popover-content > *')[this.options.html ? 'html' : 'text'](content)

          $tip.removeClass('fade top bottom left right in')
        }

      , hasContent: function () {
          return this.getTitle() || this.getContent()
        }

      , getContent: function () {
          var content
            , $e = this.$element
            , o = this.options

          content = $e.attr('data-content')
            || (typeof o.content == 'function' ? o.content.call($e[0]) :  o.content)

          return content
        }

      , tip: function () {
          if (!this.$tip) {
            this.$tip = jQuery(this.options.template)
          }
          return this.$tip
        }

      , destroy: function () {
          this.hide().$element.off('.' + this.type).removeData(this.type)
        }

    });

    jQuery.fn.popover = function (option) {
      return this.each(function () {
        var $this = jQuery(this)
          , data = $this.data('popover')
          , options = typeof option == 'object' && option
        if (!data) $this.data('popover', (data = new Popover(this, options)))
        if (typeof option == 'string') data[option]()
      })
    }

    jQuery.fn.popover.Constructor = Popover;

    jQuery.fn.popover.defaults = jQuery.extend({} , jQuery.fn.tooltip.defaults, {
      placement: 'bottom'
      , trigger: 'click'
      , content: ''
      , template: '<div id="switch-widget-popover-<%=widget.id%>" class="popover"><div class="arrow"></div><div class="popover-inner"><h3 class="popover-title"></h3><div class="popover-content"><p></p></div></div></div>'
    });

    ready();
  }

  function ready() {
    jQuery(document).ready(function($) {
      Stripe.setPublishableKey('pk_0GbRqUbj7HYIBOVm52KCYpx5zLdS8');

      var widget_id = "<%=widget.id%>";

      $("head").append("<link>");
      css = $("head").children(":last");
      css.attr({
        rel:  "stylesheet",
        type: "text/css",
        href: base_url + "api/widgets/" + widget_id + "/embed/css"
      });

      $("#switch-widget-" + widget_id).bind('analyticsEvent', function(e, data) {
        var queryString = "?" + decodeURIComponent($.param(data));

        $.ajax({
         type: "GET",
         url: base_url + 'api/widgets/' + widget_id + '/events/create/' + queryString
        });
      });

      // find all widgets
      $widgets = $(".switch-widget");
      var num_widgets = $widgets.length;
      
      $widgets.each(function(i, widget) {
        
        var widget_id = $(this).attr("id").replace(/switch-widget-/, "");
        var widget_url = base_url + "api/widgets/" + widget_id + "/embed/html";

        // grab widget html and attach to page
        $.ajax({
          type: "GET",
          url: widget_url,
          dataType: "json",
          
          success: function(data) {
            var selector = "#switch-widget-" + widget_id;
            $(selector).html(data.buttonBody);
            setupUI(selector, $, widget_id, data.title, data.formBody, data.onSuccessBody, data.onFailureBody);
          }
        });
      });
    });
  }
  
  function setupUI(widget_selector, $, widget_id, title, formBody, onSuccessBody, onFailureBody) {
    $(widget_selector + " a").popover({
      title: title,
      content: formBody,
      trigger: 'click'
    });
    $(widget_selector + " a").click(function(e) {
      e.preventDefault();
      e.stopPropagation();
    });
    $("#switch-widget-popover-" + widget_id + " #submit-donation-button").live('click', function(e) {
      e.preventDefault();
      e.stopPropagation();

      // 4242424242424242
      var $btn = $(this);
      $btn.button('loading');

      $("#switch-widget-popover-" + widget_id + " .payment-errors").text("");
      if (!Stripe.validateCardNumber($("#switch-widget-popover-" + widget_id + " #card-number").val())) {
        $btn.button('reset');
        return $(".payment-errors").text("Invalid Card Number");
      } else if (!Stripe.validateExpiry($("#switch-widget-popover-" + widget_id + " #card-expiry-month").val(), $("#switch-widget-popover-" + widget_id + " #card-expiry-year").val())) {
        $btn.button('reset');
        return $(".payment-errors").text("Invalid Expiration Date");
      } else if (!Stripe.validateCVC($("#switch-widget-popover-" + widget_id + " #card-cvc").val())) {
        $btn.button('reset');
        return $(".payment-errors").text("Invalid CVC Code");
      }

      Stripe.createToken({
          number: $("#switch-widget-popover-" + widget_id + " #card-number").val(),
          cvc: $("#switch-widget-popover-" + widget_id + " #card-cvc").val(),
          exp_month: $("#switch-widget-popover-" + widget_id + " #card-expiry-month").val(),
          exp_year: $("#switch-widget-popover-" + widget_id + " #card-expiry-year").val()
      }, function(status, response) {
        if (response.error) {
          // show the errors on the form
          $(".payment-errors").text(response.error.message);
          $btn.button('reset');
        } else {
          var token = response['id'];
          var email = $("#switch-widget-popover-" + widget_id + " #email").val();
          var name = $("#switch-widget-popover-" + widget_id + " #name").val();
          var queryString = "?" + decodeURIComponent($.param(response));
          $.ajax({
            type: "GET",
            url: base_url + "api/widgets/" + widget_id + "/charge?amount=" + ($("#switch-widget-popover-" + widget_id + " #amount").val() * 100) + "&card=" + token + "&email=" + email + "&name=" + name,
            success: function(data) {
              $(this).button('reset');
              $("#switch-widget-popover-" + widget_id + " .popover-content").html(onSuccessBody);
              $btn.button('reset');
            },
            error: function() {
              $("#switch-widget-popover-" + widget_id + " .popover-content").html(onFailureBody);
              $btn.button('reset');
            }
          });
        }
      });


    });
    $(widget_selector).bind('mouseenter mouseleave click', function(e) {
      $(this).trigger('analyticsEvent', {type: e.type} );
    });
  }
  
})();

// make it safe to use console.log always
(function(b){function c(){}for(var d="assert,count,debug,dir,dirxml,error,exception,group,groupCollapsed,groupEnd,info,log,markTimeline,profile,profileEnd,time,timeEnd,trace,warn".split(","),a;a=d.pop();)b[a]=b[a]||c})(window.console=window.console||{});
(function(){var e=this;this.Stripe=function(){function e(){}return e.version=2,e.endpoint="https://api.stripe.com/v1",e.validateCardNumber=function(t){return t=(t+"").replace(/\s+|-/g,""),t.length>=10&&t.length<=16&&e.luhnCheck(t)},e.validateCVC=function(t){return t=e.trim(t),/^\d+$/.test(t)&&t.length>=3&&t.length<=4},e.validateExpiry=function(t,n){var r,i;return t=e.trim(t),n=e.trim(n),/^\d+$/.test(t)?/^\d+$/.test(n)?parseInt(t,10)<=12?(i=new Date(n,t),r=new Date,i.setMonth(i.getMonth()-1),i.setMonth(i.getMonth()+1,1),i>r):!1:!1:!1},e.cardType=function(t){return e.cardTypes[t.slice(0,2)]||"Unknown"},e.setPublishableKey=function(t){e.key=t},e.createToken=function(t,n,r){var i,s,o;n==null&&(n=0);if(!t)throw"card required";for(s in t)o=t[s],delete t[s],t[e.underscore(s)]=o;return s=t.key||e.key||e.publishableKey,delete t.key,i={key:s,card:t},typeof n=="function"?r=n:n>0&&(i.amount=n),e.validateKey(i.key),e.ajaxJSONP({url:""+e.endpoint+"/tokens",data:i,method:"POST",success:function(e,t){return typeof r=="function"?r(t,e):void 0},complete:e.complete(r),timeout:4e4})},e.getToken=function(t,n){if(!t)throw"token required";return e.validateKey(e.key),e.ajaxJSONP({url:""+e.endpoint+"/tokens/"+t,data:{key:e.key},success:function(e,t){return typeof n=="function"?n(t,e):void 0},complete:e.complete(n),timeout:4e4})},e.complete=function(e){return function(t,n,r){if(t!=="success")return typeof e=="function"?e(500,{error:{code:t,type:t,message:"An unexpected error has occured.\nWe have been notified of the problem."}}):void 0}},e.validateKey=function(e){if(!e||typeof e!="string")throw new Error("You did not set a valid publishable key.\nCall Stripe.setPublishableKey() with your publishable key.\nFor more info, see https://stripe.com/docs/stripe.js");if(/^sk_/.test(e))throw new Error("You are using a secret key with Stripe.js, instead of the publishable one.\nFor more info, see https://stripe.com/docs/stripe.js")},e}.call(this),typeof module!="undefined"&&module!==null&&(module.exports=this.Stripe),typeof define=="function"&&define("stripe",[],function(){return e.Stripe})}).call(this),function(){var e,t,n,r=[].slice;e=encodeURIComponent,t=(new Date).getTime(),n=function(t,r,i){var s,o;r==null&&(r=[]);for(s in t)o=t[s],i&&(s=""+i+"["+s+"]"),typeof o=="object"?n(o,r,s):r.push(""+s+"="+e(o));return r.join("&").replace("%20","+")},this.Stripe.ajaxJSONP=function(e){var i,s,o,u,a,f;return e==null&&(e={}),o="sjsonp"+ ++t,a=document.createElement("script"),s=null,i=function(){var t;return(t=a.parentNode)!=null&&t.removeChild(a),o in window&&(window[o]=function(){}),typeof e.complete=="function"?e.complete("abort",f,e):void 0},f={abort:i},a.onerror=function(){return f.abort(),typeof e.error=="function"?e.error(f,e):void 0},window[o]=function(){var t;t=1<=arguments.length?r.call(arguments,0):[],clearTimeout(s),a.parentNode.removeChild(a);try{delete window[o]}catch(n){window[o]=void 0}return typeof e.success=="function"&&e.success.apply(e,t),typeof e.complete=="function"?e.complete("success",f,e):void 0},e.data||(e.data={}),e.data.callback=o,e.method&&(e.data._method=e.method),a.src=e.url+"?"+n(e.data),u=document.getElementsByTagName("head")[0],u.appendChild(a),e.timeout>0&&(s=setTimeout(function(){return f.abort(),typeof e.complete=="function"?e.complete("timeout",f,e):void 0},e.timeout)),f}}.call(this),function(){this.Stripe.trim=function(e){return(e+"").replace(/^\s+|\s+$/g,"")},this.Stripe.underscore=function(e){return(e+"").replace(/([A-Z])/g,function(e){return"_"+e.toLowerCase()})},this.Stripe.luhnCheck=function(e){var t,n,r,i,s,o;r=!0,i=0,n=(e+"").split("").reverse();for(s=0,o=n.length;s<o;s++){t=n[s],t=parseInt(t,10);if(r=!r)t*=2;t>9&&(t-=9),i+=t}return i%10===0},this.Stripe.cardTypes=function(){var e,t,n,r;t={};for(e=n=40;n<=49;e=++n)t[e]="Visa";for(e=r=50;r<=59;e=++r)t[e]="MasterCard";return t[34]=t[37]="American Express",t[60]=t[62]=t[64]=t[65]="Discover",t[35]="JCB",t[30]=t[36]=t[38]=t[39]="Diners Club",t}()}.call(this);