#switch-widget-popover-<%=widget._id%> .clearfix {
  *zoom: 1;
}
#switch-widget-popover-<%=widget._id%> .clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
#switch-widget-popover-<%=widget._id%> .clearfix:after {
  clear: both;
}
#switch-widget-popover-<%=widget._id%> .hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
#switch-widget-popover-<%=widget._id%> .input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div#switch-widget-popover-<%=widget._id%> {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  width: 236px;
  padding: 1px;
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
div#switch-widget-popover-<%=widget._id%>.top {
  margin-bottom: 10px;
}
div#switch-widget-popover-<%=widget._id%>.right {
  margin-left: 10px;
}
div#switch-widget-popover-<%=widget._id%>.bottom {
  margin-top: 10px;
}
div#switch-widget-popover-<%=widget._id%>.left {
  margin-right: 10px;
}
div#switch-widget-popover-<%=widget._id%> .popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
div#switch-widget-popover-<%=widget._id%> .popover-content {
  padding: 9px 14px;
}
div#switch-widget-popover-<%=widget._id%> .popover-content p,
div#switch-widget-popover-<%=widget._id%> .popover-content ul,
div#switch-widget-popover-<%=widget._id%> .popover-content ol {
  margin-bottom: 0;
}
div#switch-widget-popover-<%=widget._id%> .arrow,
div#switch-widget-popover-<%=widget._id%> .arrow:after {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
div#switch-widget-popover-<%=widget._id%> .arrow:after {
  content: "";
  z-index: -1;
}
div#switch-widget-popover-<%=widget._id%>.top .arrow {
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px 10px 0;
  border-top-color: #ffffff;
}
div#switch-widget-popover-<%=widget._id%>.top .arrow:after {
  border-width: 11px 11px 0;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -1px;
  left: -11px;
}
div#switch-widget-popover-<%=widget._id%>.right .arrow {
  top: 50%;
  left: -10px;
  margin-top: -10px;
  border-width: 10px 10px 10px 0;
  border-right-color: #ffffff;
}
div#switch-widget-popover-<%=widget._id%>.right .arrow:after {
  border-width: 11px 11px 11px 0;
  border-right-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
  left: -1px;
}
div#switch-widget-popover-<%=widget._id%>.bottom .arrow {
  top: -10px;
  left: 50%;
  margin-left: -10px;
  border-width: 0 10px 10px;
  border-bottom-color: #ffffff;
}
div#switch-widget-popover-<%=widget._id%>.bottom .arrow:after {
  border-width: 0 11px 11px;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -1px;
  left: -11px;
}
div#switch-widget-popover-<%=widget._id%>.left .arrow {
  top: 50%;
  right: -10px;
  margin-top: -10px;
  border-width: 10px 0 10px 10px;
  border-left-color: #ffffff;
}
div#switch-widget-popover-<%=widget._id%>.left .arrow:after {
  border-width: 11px 0 11px 11px;
  border-left-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
  right: -1px;
}

div#switch-widget-<%=widget._id%> .btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 14px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  *line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #bbbbbb;
  *border: 0;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
div#switch-widget-<%=widget._id%> .btn:hover,
div#switch-widget-<%=widget._id%> .btn:active,
div#switch-widget-<%=widget._id%> .btn.active,
div#switch-widget-<%=widget._id%> .btn.disabled,
div#switch-widget-<%=widget._id%> .btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
div#switch-widget-<%=widget._id%> .btn:active,
div#switch-widget-<%=widget._id%> .btn.active {
  background-color: #cccccc \9;
}
div#switch-widget-<%=widget._id%> .btn:first-child {
  *margin-left: 0;
}
div#switch-widget-<%=widget._id%> .btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
div#switch-widget-<%=widget._id%> .btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
div#switch-widget-<%=widget._id%> .btn.active,
div#switch-widget-<%=widget._id%> .btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
div#switch-widget-<%=widget._id%> .btn.disabled,
div#switch-widget-<%=widget._id%> .btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
div#switch-widget-<%=widget._id%> .btn-large {
  padding: 9px 14px;
  font-size: 16px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
div#switch-widget-<%=widget._id%> .btn-large [class^="icon-"] {
  margin-top: 2px;
}
div#switch-widget-<%=widget._id%> .btn-small {
  padding: 3px 9px;
  font-size: 12px;
  line-height: 18px;
}
div#switch-widget-<%=widget._id%> .btn-small [class^="icon-"] {
  margin-top: 0;
}
div#switch-widget-<%=widget._id%> .btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 17px;
}
div#switch-widget-<%=widget._id%> .btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div#switch-widget-<%=widget._id%> .btn-block + .btn-block {
  margin-top: 5px;
}
div#switch-widget-<%=widget._id%> input[type="submit"].btn-block,
div#switch-widget-<%=widget._id%> input[type="reset"].btn-block,
div#switch-widget-<%=widget._id%> input[type="button"].btn-block {
  width: 100%;
}
div#switch-widget-<%=widget._id%> .btn-primary.active,
div#switch-widget-<%=widget._id%> .btn-warning.active,
div#switch-widget-<%=widget._id%> .btn-danger.active,
div#switch-widget-<%=widget._id%> .btn-success.active,
div#switch-widget-<%=widget._id%> .btn-info.active,
div#switch-widget-<%=widget._id%> .btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
div#switch-widget-<%=widget._id%> .btn {
  border-color: #c5c5c5;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
div#switch-widget-<%=widget._id%> .btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
div#switch-widget-<%=widget._id%> .btn-primary:hover,
div#switch-widget-<%=widget._id%> .btn-primary:active,
div#switch-widget-<%=widget._id%> .btn-primary.active,
div#switch-widget-<%=widget._id%> .btn-primary.disabled,
div#switch-widget-<%=widget._id%> .btn-primary[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
div#switch-widget-<%=widget._id%> .btn-primary:active,
div#switch-widget-<%=widget._id%> .btn-primary.active {
  background-color: #003399 \9;
}
div#switch-widget-<%=widget._id%> .btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #f89406;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
div#switch-widget-<%=widget._id%> .btn-warning:hover,
div#switch-widget-<%=widget._id%> .btn-warning:active,
div#switch-widget-<%=widget._id%> .btn-warning.active,
div#switch-widget-<%=widget._id%> .btn-warning.disabled,
div#switch-widget-<%=widget._id%> .btn-warning[disabled] {
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505;
}
div#switch-widget-<%=widget._id%> .btn-warning:active,
div#switch-widget-<%=widget._id%> .btn-warning.active {
  background-color: #c67605 \9;
}
div#switch-widget-<%=widget._id%> .btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #bd362f;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
div#switch-widget-<%=widget._id%> .btn-danger:hover,
div#switch-widget-<%=widget._id%> .btn-danger:active,
div#switch-widget-<%=widget._id%> .btn-danger.active,
div#switch-widget-<%=widget._id%> .btn-danger.disabled,
div#switch-widget-<%=widget._id%> .btn-danger[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}
div#switch-widget-<%=widget._id%> .btn-danger:active,
div#switch-widget-<%=widget._id%> .btn-danger.active {
  background-color: #942a25 \9;
}
div#switch-widget-<%=widget._id%> .btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #51a351;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
div#switch-widget-<%=widget._id%> .btn-success:hover,
div#switch-widget-<%=widget._id%> .btn-success:active,
div#switch-widget-<%=widget._id%> .btn-success.active,
div#switch-widget-<%=widget._id%> .btn-success.disabled,
div#switch-widget-<%=widget._id%> .btn-success[disabled] {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}
div#switch-widget-<%=widget._id%> .btn-success:active,
div#switch-widget-<%=widget._id%> .btn-success.active {
  background-color: #408140 \9;
}
div#switch-widget-<%=widget._id%> .btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2f96b4;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
div#switch-widget-<%=widget._id%> .btn-info:hover,
div#switch-widget-<%=widget._id%> .btn-info:active,
div#switch-widget-<%=widget._id%> .btn-info.active,
div#switch-widget-<%=widget._id%> .btn-info.disabled,
div#switch-widget-<%=widget._id%> .btn-info[disabled] {
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
div#switch-widget-<%=widget._id%> .btn-info:active,
div#switch-widget-<%=widget._id%> .btn-info.active {
  background-color: #24748c \9;
}
div#switch-widget-<%=widget._id%> .btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #222222;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
div#switch-widget-<%=widget._id%> .btn-inverse:hover,
div#switch-widget-<%=widget._id%> .btn-inverse:active,
div#switch-widget-<%=widget._id%> .btn-inverse.active,
div#switch-widget-<%=widget._id%> .btn-inverse.disabled,
div#switch-widget-<%=widget._id%> .btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
}
div#switch-widget-<%=widget._id%> .btn-inverse:active,
div#switch-widget-<%=widget._id%> .btn-inverse.active {
  background-color: #080808 \9;
}
div#switch-widget-<%=widget._id%> button.btn,
div#switch-widget-<%=widget._id%> input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
div#switch-widget-<%=widget._id%> button.btn::-moz-focus-inner,
div#switch-widget-<%=widget._id%> input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
div#switch-widget-<%=widget._id%> button.btn.btn-large,
div#switch-widget-<%=widget._id%> input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
div#switch-widget-<%=widget._id%> button.btn.btn-small,
div#switch-widget-<%=widget._id%> input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
div#switch-widget-<%=widget._id%> button.btn.btn-mini,
div#switch-widget-<%=widget._id%> input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}
div#switch-widget-<%=widget._id%> .btn-link,
div#switch-widget-<%=widget._id%> .btn-link:active,
div#switch-widget-<%=widget._id%> .btn-link[disabled] {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
div#switch-widget-<%=widget._id%> .btn-link {
  border-color: transparent;
  cursor: pointer;
  color: #0088cc;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
div#switch-widget-<%=widget._id%> .btn-link:hover {
  color: #005580;
  text-decoration: underline;
  background-color: transparent;
}
div#switch-widget-<%=widget._id%> .btn-link[disabled]:hover {
  color: #333333;
  text-decoration: none;
}

div#switch-widget-<%=widget._id%> .btn-group {
  position: relative;
  font-size: 0;
  vertical-align: middle;
  white-space: nowrap;
  *margin-left: .3em;
}
div#switch-widget-<%=widget._id%> .btn-group:first-child {
  *margin-left: 0;
}
div#switch-widget-<%=widget._id%> .btn-group + .btn-group {
  margin-left: 5px;
}
div#switch-widget-<%=widget._id%> .btn-toolbar {
  font-size: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
div#switch-widget-<%=widget._id%> .btn-toolbar .btn-group {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
}
div#switch-widget-<%=widget._id%> .btn-toolbar .btn + .btn,
div#switch-widget-<%=widget._id%> .btn-toolbar .btn-group + .btn,
div#switch-widget-<%=widget._id%> .btn-toolbar .btn + .btn-group {
  margin-left: 5px;
}
div#switch-widget-<%=widget._id%> .btn-group > .btn {
  position: relative;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
div#switch-widget-<%=widget._id%> .btn-group > .btn + .btn {
  margin-left: -1px;
}
div#switch-widget-<%=widget._id%> .btn-group > .btn,
div#switch-widget-<%=widget._id%> .btn-group > .dropdown-menu {
  font-size: 14px;
}
div#switch-widget-<%=widget._id%> .btn-group > .btn-mini {
  font-size: 11px;
}
div#switch-widget-<%=widget._id%> .btn-group > .btn-small {
  font-size: 12px;
}
div#switch-widget-<%=widget._id%> .btn-group > .btn-large {
  font-size: 16px;
}
div#switch-widget-<%=widget._id%> .btn-group > .btn:first-child {
  margin-left: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
div#switch-widget-<%=widget._id%> .btn-group > .btn:last-child,
div#switch-widget-<%=widget._id%> .btn-group > .dropdown-toggle {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}
div#switch-widget-<%=widget._id%> .btn-group > .btn.large:first-child {
  margin-left: 0;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
}
div#switch-widget-<%=widget._id%> .btn-group > .btn.large:last-child,
div#switch-widget-<%=widget._id%> .btn-group > .large.dropdown-toggle {
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
}
div#switch-widget-<%=widget._id%> .btn-group > .btn:hover,
div#switch-widget-<%=widget._id%> .btn-group > .btn:focus,
div#switch-widget-<%=widget._id%> .btn-group > .btn:active,
div#switch-widget-<%=widget._id%> .btn-group > .btn.active {
  z-index: 2;
}
div#switch-widget-<%=widget._id%> .btn-group .dropdown-toggle:active,
div#switch-widget-<%=widget._id%> .btn-group.open .dropdown-toggle {
  outline: 0;
}
div#switch-widget-<%=widget._id%> .btn-group > .btn + .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  *padding-top: 5px;
  *padding-bottom: 5px;
}
div#switch-widget-<%=widget._id%> .btn-group > .btn-mini + .dropdown-toggle {
  padding-left: 5px;
  padding-right: 5px;
  *padding-top: 2px;
  *padding-bottom: 2px;
}
div#switch-widget-<%=widget._id%> .btn-group > .btn-small + .dropdown-toggle {
  *padding-top: 5px;
  *padding-bottom: 4px;
}
div#switch-widget-<%=widget._id%> .btn-group > .btn-large + .dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px;
  *padding-top: 7px;
  *padding-bottom: 7px;
}
div#switch-widget-<%=widget._id%> .btn-group.open .dropdown-toggle {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
div#switch-widget-<%=widget._id%> .btn-group.open .btn.dropdown-toggle {
  background-color: #e6e6e6;
}
div#switch-widget-<%=widget._id%> .btn-group.open .btn-primary.dropdown-toggle {
  background-color: #0044cc;
}
div#switch-widget-<%=widget._id%> .btn-group.open .btn-warning.dropdown-toggle {
  background-color: #f89406;
}
div#switch-widget-<%=widget._id%> .btn-group.open .btn-danger.dropdown-toggle {
  background-color: #bd362f;
}
div#switch-widget-<%=widget._id%> .btn-group.open .btn-success.dropdown-toggle {
  background-color: #51a351;
}
div#switch-widget-<%=widget._id%> .btn-group.open .btn-info.dropdown-toggle {
  background-color: #2f96b4;
}
div#switch-widget-<%=widget._id%> .btn-group.open .btn-inverse.dropdown-toggle {
  background-color: #222222;
}
div#switch-widget-<%=widget._id%> .btn .caret {
  margin-top: 8px;
  margin-left: 0;
}
div#switch-widget-<%=widget._id%> .btn-mini .caret,
div#switch-widget-<%=widget._id%> .btn-small .caret,
div#switch-widget-<%=widget._id%> .btn-large .caret {
  margin-top: 6px;
}
div#switch-widget-<%=widget._id%> .btn-large .caret {
  border-left-width: 5px;
  border-right-width: 5px;
  border-top-width: 5px;
}
div#switch-widget-<%=widget._id%> .dropup .btn-large .caret {
  border-bottom: 5px solid #000000;
  border-top: 0;
}
div#switch-widget-<%=widget._id%> .btn-primary .caret,
div#switch-widget-<%=widget._id%> .btn-warning .caret,
div#switch-widget-<%=widget._id%> .btn-danger .caret,
div#switch-widget-<%=widget._id%> .btn-info .caret,
div#switch-widget-<%=widget._id%> .btn-success .caret,
div#switch-widget-<%=widget._id%> .btn-inverse .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
div#switch-widget-<%=widget._id%> .btn-group-vertical {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
}
div#switch-widget-<%=widget._id%> .btn-group-vertical .btn {
  display: block;
  float: none;
  width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
div#switch-widget-<%=widget._id%> .btn-group-vertical .btn + .btn {
  margin-left: 0;
  margin-top: -1px;
}
div#switch-widget-<%=widget._id%> .btn-group-vertical .btn:first-child {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
div#switch-widget-<%=widget._id%> .btn-group-vertical .btn:last-child {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
div#switch-widget-<%=widget._id%> .btn-group-vertical .btn-large:first-child {
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
div#switch-widget-<%=widget._id%> .btn-group-vertical .btn-large:last-child {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
