<!DOCTYPE html>
<html lang="en">
  <% include head %>

  <body>

    <% include header %>

    <div class="container">
      <div class="main">
        <div id="info-header" class="row-fluid">
          <h2 style="padding-bottom: 20px;">
            About Us
          </h2>
          <h2 style="padding-bottom: 20px;">
            Switch improves the 501(c)(3) donation experience by making credit card payments seamless and simple.
          </h2>

          <p class="lead">
            We’re committed to helping nonprofits.
          </p>
          <p>
          Switch allows nonprofits to produce great campaigns without having to funnel resources away from their cause. That’s why we spent months developing a customizable template for all nonprofits to embed in their site. No need to hire an expensive software engineer ― we’ve got all the tools you need.
          </p>
          <p class="lead" style="margin-top: 20px;">
            No more “redirecting” to another third-party page.
          </p>
          <p>
          We keep your donors connected to your content. Switch lassoes up the online donors who typically “give up” in the middle of a frustrating donation experience. Our custom donation widgets appear next to your content, keeping your donors’ interest and streamlining their experience, while guaranteeing the highest level of security. 
          </p>
          <p class="lead" style="margin-top: 20px;">
            Bringing you analytics about your donors.
          </p>

          <p>
            Since no donor is ever directed away from your page, our buttons allow you to gain valuable marketing insights about your donors ― their demographics, how long they viewed your content before donating, what type of device they used, etc.
          </p>
          <p class="lead" style="margin-top: 20px;">
            We’re iPad friendly!
          </p>
          <p>
            Our buttons provide an easy user experience for the 21st-century donor. Switch’s software works seamlessly with tablets, smartphones, laptops and desktops alike. 
          </p>
          <p class="lead" style="margin-top: 20px;">
            Focusing on the future.
          </p>
          <p>
            Switch is made up of engineers, educators, and entrepreneurs who believe we can improve the world with simple, ethical solutions to modern challenges. We want to help you help others. Help us help you ― and Switch now.
          </p>
        </div>
      </div>
    </div>

    <% include footer %>

  </body></html>