<!DOCTYPE html>
<html lang="en">
  <% include head %>

  <body>

    <% include header %>

    <div class="container">
      <div class="main content-box span8 offset1">
        <div id="info-header" class="row-fluid">
          <h1>Contact Us</h1>
          <form method="POST" action="/register" class="form-horizontal" id="registerForm">
            <div class="control-group">
              <label class="control-label" for="inputName">Name</label>
              <div class="controls">
                <input type="text" id="inputName" placeholder="Full Name" name="fullname" class="required">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputEmail">Email</label>
              <div class="controls">
                <input type="text" id="inputEmail" placeholder="Email" name="username" class="email required">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputEmail">Comments</label>
              <div class="controls">
                <textarea rows="3" name="comments"></textarea>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn btn-success">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <% include footer %>

  </body></html>