<div class="push"><!--//--></div>
<footer class="container-fluid">
  <ul class="unstyled">
    <li>© Switch 2012</li>
    <li><a href="/privacy">Privacy Policy</a></li>
    <li><a href="/terms">Terms of Service</a></li>
  </ul>

</footer>
