<head>
  <meta charset="utf-8">
  <title>Switch | Donations done better.</title>
  <meta name="viewport" content="width=device-width, initial-scale=0.33">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="css/switch.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Molle:400italic|Nothing+You+Could+Do|Raleway' rel='stylesheet' type='text/css'>  
  <link rel="shortcut icon" href="img/ico/favicon.ico">
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35324720-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>