<div class="header">
  <div class="container">
    <h1 class="logo"><a href="/" class="logo-link">Switch</h1>
    <div class="navigation">
      <div class="register">
        <a class="btn" id="signin" href="/register">
          <span>Register</span>
        </a>
      </div>
      <div class="signin">
        <a class="btn" id="signin" href="/login">
          <span>Log In</span>
        </a>
      </div>

      <ul class="global">
        <li><a href="/about">about us</a></li>
        <li><a href="/contact">contact</a></li>
      </ul>
    </div>
  </div>
</div>
