<!DOCTYPE html>
<html lang="en">
  <% include head %>

  <body>

    <% include header %>

    <div class="container">
      <div class="main row">
        <div class="intro-container">
          <img id="intro" src="http://placehold.it/350x200"/>
          <h1 class="header">Donations done better.</h1>
          <div class="intro-content">
            <div>
              Switch improves the 501(c)(3) donation experience
            </div>
            <div>
              by making credit card payments <span class="strong">seamless</span> and <span class="strong">simple</span>. 
            </div> 
            <div id="button-container">
              <a class="header-button signup" href="/register.html">Switch now</a>
            </div>
          </div>

        </div>
      </div>

      <div class="main content-box row">
        <div id="info-header" class="row-fluid">
          <h3>Switch connects you with:</h3>

        </div>
        <div id="info" class="row-fluid">
          <div class="span4">
            <img src="http://placehold.it/200x100">
            <h4>Your donors.</h4>
            <p>Accept credit card payments easily and keep your audience on your page while they donate.</p>
          </div>
          <div class="span4">
            <img src="http://placehold.it/200x100">
            <h4>Your user experience.</h4>
            <p>No coding experience required.  Build donation forms and easily integrate them into your existing site.</p>
          </div>
          <div class="span4">
            <img src="http://placehold.it/200x100">
            <h4>Your data.</h4>
            <p>See who donates what, when, and receive real-time notifications.  Create donation alerts.  Market effectively to your audience.</p>
          </div>
        </div>

      </div>

      <div class="content-box row">
        <div class="span5 main" style="margin-left: 0px;">
          <div id="info-header">
            <h3>Switch is as easy as 1, 2, 3:</h3>
          </div>
          <div id="info-header" class=>
            <div class="span12 pull-left">
              <h4 class="step-one ">Create an account.</h4>
              <h5>All you need is a name and a contact email.</h5>
            </div>
          </div>
            
          <div id="info-header" class="row-fluid">
            <h4 class="step-two">Build a donation experience that fits your site.</h4>
          </div>
          <hr class="soften">
          <div id="info-header" class="row-fluid">
            <h4 class="step-three">Interact with Switch's real-time dashboard.</h4>
          </div>
        </div>
        <div class="span5 offset1 main" style="margin-left: 120px;">
           <div id="info-header">
            <h3>Switch is as easy as 1, 2, 3:</h3>
          </div>
          <div id="info-header" class=>
            <div class="span12 pull-left">
              <h4 class="step-one ">Create an account.</h4>
              <h5>All you need is a name and a contact email.</h5>
            </div>
          </div>
            
          <div id="info-header" class="row-fluid">
            <h4 class="step-two">Build a donation experience that fits your site.</h4>
          </div>
          <hr class="soften">
          <div id="info-header" class="row-fluid">
            <h4 class="step-three">Interact with Switch's real-time dashboard.</h4>
          </div>
        </div>
      </div>
    </div>

    <% include footer %>

  </body></html>