<!DOCTYPE html>
<html lang="en">
  <% include head %>

  <body>

    <% include header %>

    <div class="container">
      <div class="main span7 offset2">
        <div id="info-header" class="row-fluid">
          <h1>Log in to Switch</h1>
          <form method="POST" action="/login" class="form-horizontal" id="loginForm">
            <div class="control-group">
              <label class="control-label" for="inputEmail">Email</label>
              <div class="controls">
                <input class="required email" tabindex="1" type="text" id="inputEmail" placeholder="Email" name="username">
                <span class="help-inline"><a href="#"><small>Forgot?</small></a></span>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputPassword">Password</label>
              <div class="controls">
                <input class="required" tabindex="2" type="password" id="inputPassword" name="password" placeholder="Password">
                <span class="help-inline"><a href="#"><small>Forgot?</small></a></span>
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <label class="checkbox">
                  <input type="checkbox" name="remember"> Remember me
                </label>
                <button type="submit" class="btn btn-success" style="margin-top: 15px;">Log in</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <% include footer %>

    <script type="text/javascript" src="/lib/jquery-1.8.1/jquery-1.8.1.js"></script>
    <script type="text/javascript" src="/lib/jquery.validate.min.js"></script>
    <script type="text/javascript">
      var defaultForm = {
        highlight: function (element, errorClass, validClass) { 
          $(element).parents("div[class='control-group']").addClass("error"); 
        }, 
        unhighlight: function (element, errorClass, validClass) { 
          $(element).parents(".error").removeClass("error"); 
        },
        errorClass: "help-inline",
        errorElement: "span"
      };


      $(document).ready(function(){
        $("#loginForm").validate(defaultForm);
      });
    </script>

  </body>
</html>
