<!DOCTYPE html>
<html lang="en">
  <% include head %>

  <body>

    <% include header %>

    <div class="container">
      <div class="main">
        <div id="info-header" class="row-fluid">
          <h2 style="padding-bottom: 20px;">
            Privacy Policy
          </h2>
          <p>
          Protecting your private information is our priority. This Statement of Privacy applies to Switch and governs data collection and usage. For the purposes of this Privacy Policy, unless otherwise noted, all references to Switch include our website. The Switch website is a portal for the Switch service. By using the Switch website, you consent to the data practices described in this statement.
          </p>
          <p class="lead" style="margin-top: 20px;">
            Collection of Your Personal Information
          </p>
          <p>
          Switch may collect personally identifiable information, such as your name. If you purchase Switch's products and services, we collect billing and credit card information. This information is used to complete the purchase transaction. None of this information is held on Switch’s servers. Credit card and billing information is held by Stripe, Inc, a credit card processor. Stripe has been audited by a PCI-certified auditor, and is certified to PCI Service Provider Level 1. This is the most stringent level of certification available. Switch may gather additional personal or non-personal information in the future.
          </p>
          <p>
          Information about your computer hardware and software may be automatically collected by Switch. This information can include: your IP address, browser type, domain names, access times and referring website addresses. This information is used for the operation of the service, to maintain quality of the service, and to provide general statistics regarding use of the Switch website.
          </p>
          <p>
          Switch encourages you to review the privacy statements of websites you choose to link to from Switch so that you can understand how those websites collect, use and share your information. Switch is not responsible for the privacy statements or other content on websites outside of the Switch website.
          </p>
          <p class="lead" style="margin-top: 20px;">
            Use of Your Personal Information
          </p>

          <p>
            Switch collects and uses your personal information to operate its website(s) and deliver the services you have requested.
          </p>
          <p>
            Switch may also use your personally identifiable information to inform you of other products or services available from Switch. Switch may also contact you via surveys to conduct research about your opinion of current services or of potential new services that may be offered.
          </p>
          <p>
            Switch does not sell, rent or lease its customer lists to third parties.
          </p>
          <p>
            Switch will disclose your personal information, without notice, only if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on Switch or the site; (b) protect and defend the rights or property of Switch; and, (c) act under exigent circumstances to protect the personal safety of users of Switch, or the public.
          </p>
          <p class="lead" style="margin-top: 20px;">
            Security of Your Personal Information
          </p>
          <p>
            Switch secures your personal information from unauthorized access, use or disclosure. When personal information (such as a credit card number) is transmitted to other websites, it is protected through the use of encryption, such as the Secure Sockets Layer (SSL) protocol.
          </p>
          <p class="lead" style="margin-top: 20px;">
            Children Under Thirteen
          </p>
          <p>
            Switch does not knowingly collect personally identifiable information from children under the age of thirteen. If you are under the age of thirteen, you must ask your parent or guardian for permission to use this website.
          </p>
          <p class="lead" style="margin-top: 20px;">
            Opt-Out & Unsubscribe
          </p>
          <p>
            We respect your privacy and give you an opportunity to opt-out of receiving announcements of certain information. Users may opt-out of receiving any or all communications from Switch by modifying their notification settings.
          </p>
          <p class="lead" style="margin-top: 20px;">
            Changes to This Statement
          </p>
          <p>
            Switch will occasionally update this Statement of Privacy to reflect company and customer feedback. Switch encourages you to periodically review this Statement to be informed of how Switch is protecting your information.
          </p>
          <p>
            Effective as of November 1, 2012
          </p>
        </div>
      </div>
    </div>

    <% include footer %>

  </body></html>
