<!DOCTYPE html>
<html lang="en">
  <% include head %>

  <body>

    <% include header %>
    <div class="container">
      <div class="main span7 offset2">
        <div id="info-header" class="row-fluid">
          <h1>Register for Switch</h1>
          <form method="POST" action="/register" class="form-horizontal" id="registerForm">
            <div class="control-group">
              <label class="control-label" for="inputName">Name</label>
              <div class="controls">
                <input type="text" id="inputName" placeholder="Full Name" name="fullname" class="required">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputOrganization">Organization</label>
              <div class="controls">
                <input type="text" id="inputOrganization" placeholder="Organization" name="organization" class="required">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputEmail">Email</label>
              <div class="controls">
                <input type="text" id="inputEmail" placeholder="Email" name="username" class="email required">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputPassword">Password <span class="password-meter-message"></span></label>
              <div class="controls">
                <input type="password" id="inputPassword" name="password" placeholder="Password" class="required checkPassword">
              </div>
            </div>
            <hr class="soften"></hr>
            <div class="control-group">
              <label class="control-label" for="inputCheckingAccountNumber">Checking Account Number</label>
              <div class="controls">
                <input type="text" id="inputCheckingAccountNumber" placeholder="" name="checkingAccountNumber" class="digits required">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputRoutingNumber">Routing Number</label>
              <div class="controls">
                <input type="text" id="inputRoutingNumber" placeholder="" name="checkingAccountRoutingNumber" class="digits required">
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn">Register</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <% include footer %>

    <script type="text/javascript" src="/lib/jquery-1.8.1/jquery-1.8.1.js"></script>
    <script type="text/javascript" src="/lib/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/lib/jquery.validate.password.js"></script>
    <script type="text/javascript">

      var defaultForm = {
        highlight: function (element, errorClass, validClass) { 
          $(element).parents("div[class='control-group']").addClass("error"); 
        }, 
        unhighlight: function (element, errorClass, validClass) { 
          $(element).parents(".error").removeClass("error"); 
        },
        errorClass: "help-inline",
        errorElement: "span"
      };


      $(document).ready(function(){
        $("#registerForm").validate(defaultForm);
      });
    </script>

  </body>
</html>
