<!DOCTYPE html>
<html lang="en">
  <% include head %>

  <body>

    <% include header %>

    <div class="container">
      <div class="main">
        <div id="info-header" class="row-fluid">
          <h2 style="padding-bottom: 20px;">
            Terms and Conditions | Switch
          </h2>

          <p class="lead">Agreement Between User and Switch

Welcome to Switch. The Switch website (the "Site") is comprised of various web pages operated by Switch ("Switch"). Switch is offered to you conditioned on your acceptance without modification of the terms, conditions, and notices contained herein (the "Terms"). Your use of Switch constitutes your agreement to all such Terms. Please read these terms carefully, and keep a copy of them for your reference.
BLURB

Privacy

Your use of Switch is subject to Switch's Privacy Policy. Please review our Privacy Policy, which also governs the Site and informs users of our data collection practices.
Service Subscription Agreement

When subscribing to Switch’s Regular Subscription, you agree to the following:

-Your company agrees to pay the monthly fee (subject to change with prior notice) as stated by Switch.

-Failure to comply with the terms outlined above may result in the discontinuation of Switch’s services.
Electronic Communications

Visiting Switch or sending emails to Switch constitutes electronic communications. You consent to receive electronic communications and you agree that all agreements, notices, disclosures and other communications that we provide to you electronically, via email and on the Site, satisfy any legal requirement that such communications be in writing.
Your account

If you use this site, you are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password. You may not assign or otherwise transfer your account to any other person or entity. You acknowledge that Switch is not responsible for third party access to your account that results from theft or misappropriation of your account. Switch and its associates reserve the right to refuse or cancel service, terminate accounts, or remove or edit content in our sole discretion.
Switch does not knowingly collect, either online or offline, personal information from persons under the age of thirteen. If you are under 18, you may use Switch only with permission of a parent or guardian.

Cancellation/Refund Policy

Cancellation of the service by walkers and walking companies is allowed at any time. Any unpaid verified walks will require payment at the time of cancellation. The Veriwalk service is provided on an "as-needed" basis for dog owners. Therefore, cancellation of tracked walks for individual clients is not necessary.
Links to third party sites/Third party services

veriwalk.com may contain links to other websites ("Linked Sites"). The Linked Sites are not under the control of Veriwalk and Veriwalk is not responsible for the contents of any Linked Site, including without limitation any link contained in a Linked Site, or any changes or updates to a Linked Site. Veriwalk is providing these links to you only as a convenience, and the inclusion of any link does not imply endorsement by Veriwalk of the site or any association with its operators.
Certain services made available via veriwalk.com are delivered by third party sites and organizations. By using any product, service or functionality originating from the veriwalk.com domain, you hereby acknowledge and consent that Veriwalk may share such information and data with any third party with whom Veriwalk has a contractual relationship to provide the requested product, service or functionality on behalf of veriwalk.com users and customers.

No unlawful or prohibited use/Intellectual Property

You are granted a non-exclusive, non-transferable, revocable license to access and use veriwalk.com strictly in accordance with these terms of use. As a condition of your use of the Site, you warrant to Veriwalk that you will not use the Site for any purpose that is unlawful or prohibited by these Terms. You may not use the Site in any manner which could damage, disable, overburden, or impair the Site or interfere with any other party's use and enjoyment of the Site. You may not obtain or attempt to obtain any materials or information through any means not intentionally made available or provided for through the Site.
All content included as part of the Service, such as text, graphics, logos, images, as well as the compilation thereof, and any software used on the Site, is the property of Veriwalk or its suppliers and protected by copyright and other laws that protect intellectual property and proprietary rights. You agree to observe and abide by all copyright and other proprietary notices, legends or other restrictions contained in any such content and will not make any changes thereto.

You will not modify, publish, transmit, reverse engineer, participate in the transfer or sale, create derivative works, or in any way exploit any of the content, in whole or in part, found on the Site. Veriwalk content is not for resale. Your use of the Site does not entitle you to make any unauthorized use of any protected content, and in particular you will not delete or alter any proprietary rights or attribution notices in any content. You will use protected content solely for your personal use, and will make no other use of the content without the express written permission of Veriwalk and the copyright owner. You agree that you do not acquire any ownership rights in any protected content. We do not grant you any licenses, express or implied, to the intellectual property of Veriwalk or our licensors except as expressly authorized by these Terms.

International Users

The Service is controlled, operated and administered by Veriwalk from our offices within the USA. If you access the Service from a location outside the USA, you are responsible for compliance with all local laws. You agree that you will not use the Veriwalk Content accessed through veriwalk.com in any country or in any manner prohibited by any applicable laws, restrictions or regulations.
Indemnification

You agree to indemnify, defend and hold harmless Veriwalk, its officers, directors, employees, agents and third parties, for any losses, costs, liabilities and expenses (including reasonable attorneys' fees) relating to or arising out of your use of or inability to use the Site or services, any user postings made by you, your violation of any terms of this Agreement or your violation of any rights of a third party, or your violation of any applicable laws, rules or regulations. Veriwalk reserves the right, at its own cost, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will fully cooperate with Veriwalk in asserting any available defenses.
Liability disclaimer

THE INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES INCLUDED IN OR AVAILABLE THROUGH THE SITE MAY INCLUDE INACCURACIES OR TYPOGRAPHICAL ERRORS. CHANGES ARE PERIODICALLY ADDED TO THE INFORMATION HEREIN. VERIWALK AND/OR ITS SUPPLIERS MAY MAKE IMPROVEMENTS AND/OR CHANGES IN THE SITE AT ANY TIME.
VERIWALK AND/OR ITS SUPPLIERS MAKE NO REPRESENTATIONS ABOUT THE SUITABILITY, RELIABILITY, AVAILABILITY, TIMELINESS, AND ACCURACY OF THE INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS CONTAINED ON THE SITE FOR ANY PURPOSE. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, ALL SUCH INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS ARE PROVIDED "AS IS" WITHOUT WARRANTY OR CONDITION OF ANY KIND. VERIWALK AND/OR ITS SUPPLIERS HEREBY DISCLAIM ALL WARRANTIES AND CONDITIONS WITH REGARD TO THIS INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS, INCLUDING ALL IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT.

TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL VERIWALK AND/OR ITS SUPPLIERS BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF USE, DATA OR PROFITS, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OR PERFORMANCE OF THE SITE, WITH THE DELAY OR INABILITY TO USE THE SITE OR RELATED SERVICES, THE PROVISION OF OR FAILURE TO PROVIDE SERVICES, OR FOR ANY INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS OBTAINED THROUGH THE SITE, OR OTHERWISE ARISING OUT OF THE USE OF THE SITE, WHETHER BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, EVEN IF VERIWALK OR ANY OF ITS SUPPLIERS HAS BEEN ADVISED OF THE POSSIBILITY OF DAMAGES. BECAUSE SOME STATES/JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. IF YOU ARE DISSATISFIED WITH ANY PORTION OF THE SITE, OR WITH ANY OF THESE TERMS OF USE, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE SITE.

Termination/access restriction

Veriwalk reserves the right, in its sole discretion, to terminate your access to the Site and the related services or any portion thereof at any time, without notice. To the maximum extent permitted by law, this agreement is governed by the laws of the State of New York and you hereby consent to the exclusive jurisdiction and venue of courts in New York in all disputes arising out of or relating to the use of the Site. Use of the Site is unauthorized in any jurisdiction that does not give effect to all provisions of these Terms, including, without limitation, this section.
You agree that no joint venture, partnership, employment, or agency relationship exists between you and Veriwalk as a result of this agreement or use of the Site. Veriwalk's performance of this agreement is subject to existing laws and legal process, and nothing contained in this agreement is in derogation of Veriwalk's right to comply with governmental, court and law enforcement requests or requirements relating to your use of the Site or information provided to or gathered by Veriwalk with respect to such use. If any part of this agreement is determined to be invalid or unenforceable pursuant to applicable law including, but not limited to, the warranty disclaimers and liability limitations set forth above, then the invalid or unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the original provision and the remainder of the agreement shall continue in effect.

Unless otherwise specified herein, this agreement constitutes the entire agreement between the user and Veriwalk with respect to the Site and it supersedes all prior or contemporaneous communications and proposals, whether electronic, oral or written, between the user and Veriwalk with respect to the Site. A printed version of this agreement and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to this agreement to the same extent an d subject to the same conditions as other business documents and records originally generated and maintained in printed form. It is the express wish to the parties that this agreement and all related documents be written in English.

Changes to Terms

Veriwalk reserves the right, in its sole discretion, to change the Terms under which veriwalk.com is offered. The most current version of the Terms will supersede all previous versions. Veriwalk encourages you to periodically review the Terms to stay informed of our updates.
Effective as of November 1, 2012





Privacy Policy︱Switch

Protecting your private information is our priority. This Statement of Privacy applies to Switch and governs data collection and usage. For the purposes of this Privacy Policy, unless otherwise noted, all references to Switch include our website. The Switch website is a portal for the Switch service. By using the Switch website, you consent to the data practices described in this statement.
Collection of Your Personal Information

Switch may collect personally identifiable information, such as your name. If you purchase Switch's products and services, we collect billing and credit card information. This information is used to complete the purchase transaction. None of this information is held on Switch’s servers. Credit card and billing information is held by Stripe, Inc, a credit card processor. Stripe has been audited by a PCI-certified auditor, and is certified to PCI Service Provider Level 1. This is the most stringent level of certification available. Switch may gather additional personal or non-personal information in the future.

Information about your computer hardware and software may be automatically collected by Switch. This information can include: your IP address, browser type, domain names, access times and referring website addresses. This information is used for the operation of the service, to maintain quality of the service, and to provide general statistics regarding use of the Switch website.

Switch encourages you to review the privacy statements of websites you choose to link to from Switch so that you can understand how those websites collect, use and share your information. Switch is not responsible for the privacy statements or other content on websites outside of the Switch website.
Use of Your Personal Information

Switch collects and uses your personal information to operate its website(s) and deliver the services you have requested.

Switch may also use your personally identifiable information to inform you of other products or services available from Switch. Switch may also contact you via surveys to conduct research about your opinion of current services or of potential new services that may be offered.

Switch does not sell, rent or lease its customer lists to third parties.

Switch will disclose your personal information, without notice, only if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on Switch or the site; (b) protect and defend the rights or property of Switch; and, (c) act under exigent circumstances to protect the personal safety of users of Switch, or the public.
Security of Your Personal Information

Switch secures your personal information from unauthorized access, use or disclosure. When personal information (such as a credit card number) is transmitted to other websites, it is protected through the use of encryption, such as the Secure Sockets Layer (SSL) protocol.
Children Under Thirteen

Switch does not knowingly collect personally identifiable information from children under the age of thirteen. If you are under the age of thirteen, you must ask your parent or guardian for permission to use this website.
Opt-Out & Unsubscribe

We respect your privacy and give you an opportunity to opt-out of receiving announcements of certain information. Users may opt-out of receiving any or all communications from Switch by modifying their notification settings.
Changes to This Statement

Switch will occasionally update this Statement of Privacy to reflect company and customer feedback. Switch encourages you to periodically review this Statement to be informed of how Switch is protecting your information.

Effective as of November 1, 2012

        </div>
      </div>
    </div>

    <% include footer %>

  </body></html>