<div class="container" id="account-settings-container">
  <div class="main">
    <h2 class="header-row"><a href="#/"><i class="icon-chevron-left"></i></a> Account Settings</h2>

    <div id="info-header" class="row-fluid">
      <form class="form-horizontal">
        <div class="control-group">
          <label class="control-label" for="inputName">Name</label>
          <div class="controls">
            <input type="text" id="inputName" placeholder="Full Name" name="fullname" class="required" ng-model="me.fullname">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputOrganization">Organization</label>
          <div class="controls">
            <input type="text" id="inputOrganization" placeholder="Organization" name="organization" class="required" ng-model="me.organization">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputPassword">Password <span class="password-meter-message"></span></label>
          <div class="controls">
            <input type="password" id="inputPassword" name="password" placeholder="Password" class="required checkPassword">
          </div>
        </div>
        <hr class="soften"></hr>
        <div class="control-group">
          <label class="control-label" for="inputCheckingAccountNumber">Checking Account Number</label>
          <div class="controls">
            <input type="text" id="inputCheckingAccountNumber" placeholder="" name="checkingAccountNumber" class="digits required" ng-model="me.checkingAccountNumber">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputRoutingNumber">Routing Number</label>
          <div class="controls">
            <input type="text" id="inputRoutingNumber" placeholder="" name="checkingAccountRoutingNumber" class="digits required" ng-model="me.checkingAccountRoutingNumber">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputMailchimpAPIKey">Mailchimp API Key</label>
          <div class="controls">
            <input class="span6" type="text" id="inputMailchimpAPIKey" placeholder="" name="mailchimpAPIKey" ng-model="me.mailchimpAPIKey">
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button ng-click="save()" class="btn">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
