<div class="container">
  <div class="main">
    <div class="row-fluid">
      <div class="span9">
        <h2 class="header-row"><a class="back" href="#/widgets/{{widgetData.widget._id}}"><i class="icon-chevron-left"></i></a> Let's connect your donors to Mailchimp.</h2>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label" for="inputEmail">Subscribe your donors to: </label>
            <div class="controls">
              <select id="mailchimpList" ng-model="widgetData.widget.subscribeMailchimpId" ng-options="obj.id as obj.name for obj in mailchimpLists" name="listId">
                <option value="">-- Select a List ---</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="wizard-buttons well">
     <a id="next" class="btn btn-large btn-success" title="Next"
        ng-click="update()">
         Update
     </a>
    </div>
  </div>
</div>
