<div class="container">
  <div class="main">
    <div class="row-fluid">
      <div class="span9">
        <h2 class="header-row"><a class="back" href="#/widgets/{{widgetData.widget._id}}"><i class="icon-chevron-left"></i></a> Let's create funding goals.</h2>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label" for="inputEmail">Notify me if (or in case) I haven't raised </label>
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on">$</span><input id="amount" class="amount-input" size="3" type="text"/>
              </div>
              <span style="margin-left: 5px;">by</span>
              <div style="margin-left: 5px;" class="input-append date" id="dp1" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                <input class="span8" size="16" type="text" value="12-02-2012" readonly="">
                <span class="add-on"><i class="icon-th"></i></span>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="wizard-buttons well">
     <a id="next" class="btn btn-large btn-success" title="Next"
        ng-click="next()">
         Submit
     </a>
    </div>
  </div>
</div>
