<div class="container">
  <div class="main">
    <div class="row-fluid">
      <div class="span9">
        <h2>Create a button.</h2>
      </div>
      <div class="span3 well" ng-hide="true">
        <div class="preview">
          Preview
          <i id="example" class="icon-info-sign" data-placement="bottom" data-title="About Preview"></i>
        </div>
        <div class="preview-button">
          <a id="previewButton" popover="{{button.title}}" rel="tooltip" class="btn" data-ng-class="previewButtonClass()">{{button.title}}</a>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <div class="progress progress-striped active">
          <div class="bar" style="width: 0%;"></div>
        </div>
      </div>
    </div>

    <div ng-switch on="currentStepIndex">
      <div ng-switch-when="0">
        <h3>Let's give it a name.</h3>
        <h4 class="step-header-help">Title your project.  This is only visible to you.</h4>
        <input type="text" id="inputProjectTitle" data-ng-model="button.projectTitle" placeholder="e.g. Save the World 2013">
      </div>
      <div ng-switch-when="1">
        <h3>Let's give it a voice.</h3>
        <h4 class="step-header-help">Tell your donors what you want them to hear.</h4>
        <div class="row-fluid">
          <input id="inputVoice" type="text" data-ng-model="button.title" placeholder="e.g. Donate Now">
        </div>
      </div>
      <div ng-switch-when="2">
        <h3>Let's give it a look.</h3>
        <h4 class="step-header-help">Choose a color and size that fits your site.</h4>
        
        <div class="row-fluid step">
          <div class="span3 option" ng-class="{selected: button.size == 'small'}" data-ng-click="setButtonSize('small')">
            <h4>Small</h4>
            <a href="#" class="btn btn-small" data-ng-class="previewButtonClass()">{{button.title}}</a>
          </div>
          <div class="span3 option" ng-class="{selected: button.size == 'medium'}"  data-ng-click="setButtonSize('medium')" >
            <h4>Medium</h4>
            <a href="#" class="btn" data-ng-class="previewButtonClass()">{{button.title}}</a>
          </div>
          <div class="span3 option" ng-class="{selected: button.size == 'large'}" data-ng-click="setButtonSize('large')" >
            <h4>Large</h4>
            <a href="#" class="btn btn-large" data-ng-class="previewButtonClass()">{{button.title}}</a>
          </div>
          <div class="span3">
             <div id="color-picker" class="row-fluid">
              <div class="span12" style="min-height: 0px;"></div>
              <div class="color span5 button-gray" data-ng-click="selectColor('gray')"></div>
              <div class="color span5 button-blue" data-ng-click="selectColor('blue')"></div>
              <div class="color span5 button-lightblue" data-ng-click="selectColor('lightblue')"></div>
              <div class="color span5 button-green" data-ng-click="selectColor('green')"></div>
              <div class="color span5 button-yellow" data-ng-click="selectColor('yellow')"></div>
              <div class="color span5 button-red" data-ng-click="selectColor('red')"></div>
            </div>
          </div>
        </div>
      </div>
      <div ng-switch-when="3">
        <h3>Let's give it a body.</h3>
        <h4 class="step-header-help">Tell us what information you want from your donor.</h4>
        <div class="row-fluid">
          <div class="span4 first option body-form" ng-class="{selected: button.formbody == 'payment'}" data-ng-click="selectFormBody('payment')">
            <h4>Payment information.</h4>
            <hr class="soften"/>
            <form>
              <label>Amount</label>
              <div class="input-prepend">
                <span class="add-on">$</span><input id="amount" class="amount-input" size="5" type="text">
              </div>
              <span id="error-amount" class="help-block help-block-error">Invalid amount.</span>
              <hr class="soften"/>
              <label>Credit Card</label>
              <input type="text" id="card-number" placeholder="" value="">
              <span id="error-card-number" class="help-block help-block-error">Invalid credit card number.</span>
              <label>Expiration Date</label>
              <select class="exp-month" id="card-expiry-month" title="select a month">
                <option value="01">Jan</option>
                <option value="02">Feb</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">Septempber</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
              </select>
              <span id="error-card-expiry" class="help-block help-block-error">Invalid expiration date.</span>
              <input class="exp-year" id="card-expiry-year" type="text" placeholder="Year" value="2013">
              <label>CVC Code</label>
              <input type="text" id="card-cvc" placeholder="">
              <span id="error-card-cvc" class="help-block help-block-error">Invalid CVC code.</span>
            </form>
          </div>
          <div class="span4 option body-form" ng-class="{selected: button.formbody == 'contact'}" data-ng-click="selectFormBody('contact')">
            <h4>Payment and contact information.</h4>
            <hr class="soften"/>
            <form>
              <label>Name</label>
              <input type="text" id="name" placeholder="">
              <label>Email</label>
              <input type="text" id="email" placeholder="">
              <label>Amount</label>
              <div class="input-prepend">
                <span class="add-on">$</span><input id="amount" class="amount-input" size="5" type="text">
              </div>
              <span id="error-amount" class="help-block help-block-error">Invalid amount.</span>
              <hr class="soften"/>
              <label>Credit Card</label>
              <input type="text" id="card-number" placeholder="" value="">
              <span id="error-card-number" class="help-block help-block-error">Invalid credit card number.</span>
              <label>Expiration Date</label>
              <select class="exp-month" id="card-expiry-month" title="select a month">
                <option value="01">Jan</option>
                <option value="02">Feb</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">Septempber</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
              </select>
              <span id="error-card-expiry" class="help-block help-block-error">Invalid expiration date.</span>
              <input class="exp-year" id="card-expiry-year" type="text" placeholder="Year" value="2013">
              <label>CVC Code</label>
              <input type="text" id="card-cvc" placeholder="">
              <span id="error-card-cvc" class="help-block help-block-error">Invalid CVC code.</span>
            </form>
          </div>
          <div class="span4 body-form" >
            <h4>Body Builder (coming soon)</h4>
            <div>
            </div>
          </div>
        </div>
      </div>

      <div ng-switch-when="4">
        <h3>Let's create a paper trail.</h3>
        <h4 class="step-header-help">Email your donors a receipt for their records.  Let them know what you'd like to say.</h4>
        <textarea class="span10 offset1" rows="10" name="comments">
        Dear Donor,
        
        Thank you for contributing to the campaign.
        
        Sincerely,
        Mike Huneke
        </textarea>
      </div>

      <div ng-switch-when="5">
        <h3>We're done!</h3>
        <h4 class="step-header-help">Let's embed it in your site.  Copy-paste this code into your website.</h4>
        <div class="row-fluid">
          <div class="span12">
            <pre class="prettyprint linenums lang-html">
              &lt;div id=&quot;switch-widget-{{createdWidgetId}}&quot; class=&quot;switch-widget&quot;&gt;&lt;/div&gt;
              &lt;script type=&quot;text/javascript&quot; src=&quot;http://localhost:3000/api/widgets/{{createdWidgetId}}/embed/js&quot;&gt;&lt;/script&gt;
            </pre>
          </div>
        </div>
      </div>
    </div>

    <div class="wizard-buttons well" ng-show="currentStepIndex < totalSteps">
     <a class="btn btn-large pull-left" title="Back" href="#/" ng-show="currentStepIndex == 0">
         Back
     </a>
     <a class="btn btn-large pull-left" title="Back" ng-click="back()" ng-show="currentStepIndex > 0">
         Back
     </a>
     <a  class="btn btn-large btn-success pull-right" title="Next"
        ng-click="next()" ng-show="currentStepIndex < (totalSteps - 1)">
         Next
     </a>
     <a class="btn btn-large btn-success pull-right" title="Finish"
        ng-click="finish()" ng-show="currentStepIndex == (totalSteps - 1)">
         Finish
     </a>
    </div>
    <div class="wizard-buttons well" ng-show="currentStepIndex == totalSteps">
     <a class="btn btn-large pull-left" title="Back"
        href="#/">
         Back
     </a>
     <a class="btn btn-large btn-success pull-right" style="margin-left: 15px;" title="Next" href="#/widgets/{{createdWidgetId}}/mailchimp">
         Configure Mailchimp
     </a>
     <a class="btn btn-large btn-success pull-right" title="Next" href="#/widgets/{{createdWidgetId}}/analytics">
         Configure Analytics
     </a>
    </div>
  </div>
</div>

<div id="payment-form" style="display:none">
  <form>
    <label>Amount</label>
    <div class="input-prepend">
      <span class="add-on">$</span><input id="amount" class="amount-input" size="5" type="text">
    </div>
    <span id="error-amount" class="help-block help-block-error">Invalid amount.</span>
    <hr class="soften"/>
    <label>Credit Card</label>
    <input type="text" id="card-number" placeholder="" value="">
    <span id="error-card-number" class="help-block help-block-error">Invalid credit card number.</span>
    <label>Expiration Date</label>
    <select class="exp-month" id="card-expiry-month" title="select a month">
      <option value="01">Jan</option>
      <option value="02">Feb</option>
      <option value="03">March</option>
      <option value="04">April</option>
      <option value="05">May</option>
      <option value="06">June</option>
      <option value="07">July</option>
      <option value="08">August</option>
      <option value="09">Septempber</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
    <span id="error-card-expiry" class="help-block help-block-error">Invalid expiration date.</span>
    <input class="exp-year" id="card-expiry-year" type="text" placeholder="Year" value="2013">
    <label>CVC Code</label>
    <input type="text" id="card-cvc" placeholder="">
    <span id="error-card-cvc" class="help-block help-block-error">Invalid CVC code.</span>
    <hr class="soften"/>
    <button id="submit-donation-button" class="btn btn-primary btn-block">Submit</button>
  </form>
</div>

<div id="payment-form" style="display:none">
  <form>
    <label>Amount</label>
    <div class="input-prepend">
      <span class="add-on">$</span><input id="amount" class="amount-input" size="5" type="text">
    </div>
    <span id="error-amount" class="help-block help-block-error">Invalid amount.</span>
    <hr class="soften"/>
    <label>Credit Card</label>
    <input type="text" id="card-number" placeholder="" value="">
    <span id="error-card-number" class="help-block help-block-error">Invalid credit card number.</span>
    <label>Expiration Date</label>
    <select class="exp-month" id="card-expiry-month" title="select a month">
      <option value="01">Jan</option>
      <option value="02">Feb</option>
      <option value="03">March</option>
      <option value="04">April</option>
      <option value="05">May</option>
      <option value="06">June</option>
      <option value="07">July</option>
      <option value="08">August</option>
      <option value="09">Septempber</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
    <span id="error-card-expiry" class="help-block help-block-error">Invalid expiration date.</span>
    <input class="exp-year" id="card-expiry-year" type="text" placeholder="Year" value="2013">
    <label>CVC Code</label>
    <input type="text" id="card-cvc" placeholder="">
    <span id="error-card-cvc" class="help-block help-block-error">Invalid CVC code.</span>
    <hr class="soften"/>
    <div class="payment-errors"></div>
    <button id="submit-donation-button" class="btn btn-primary btn-block">Submit</button>
  </form>
</div>

<div id="contact-form" style="display:none">
  <form>
    <label>Name</label>
    <input type="text" id="name" placeholder="">
    <label>Email</label>
    <input type="text" id="email" placeholder="">
    <label>Amount</label>
    <div class="input-prepend">
      <span class="add-on">$</span><input id="amount" class="amount-input" size="5" type="text">
    </div>
    <span id="error-amount" class="help-block help-block-error">Invalid amount.</span>
    <hr class="soften"/>
    <label>Credit Card</label>
    <input type="text" id="card-number" placeholder="" value="">
    <span id="error-card-number" class="help-block help-block-error">Invalid credit card number.</span>
    <label>Expiration Date</label>
    <select class="exp-month" id="card-expiry-month" title="select a month">
      <option value="01">Jan</option>
      <option value="02">Feb</option>
      <option value="03">March</option>
      <option value="04">April</option>
      <option value="05">May</option>
      <option value="06">June</option>
      <option value="07">July</option>
      <option value="08">August</option>
      <option value="09">Septempber</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
    <span id="error-card-expiry" class="help-block help-block-error">Invalid expiration date.</span>
    <input class="exp-year" id="card-expiry-year" type="text" placeholder="Year" value="2013">
    <label>CVC Code</label>
    <input type="text" id="card-cvc" placeholder="">
    <span id="error-card-cvc" class="help-block help-block-error">Invalid CVC code.</span>
    <hr class="soften"/>
    <div class="payment-errors"></div>
    <button id="submit-donation-button" class="btn btn-primary btn-block">Submit</button>
  </form>
</div>
