<div class="container">
  <div class="main">
    <h2 class="header-row">Dashboard</h2>

    <div id="info" class="row-fluid">
      <div class="span4">
        <img src="http://placehold.it/200x100">
        <h4>Buttons: {{widgets.length}}</h4>
        <p>Your active button count.</p>
      </div>
      <div class="span4">
        <img src="http://placehold.it/200x100">
        <h4>Total Money Raised: {{totalDollarsRaised}}</h4>
        <p>Amount raised from every donation by your buttons.</p>
      </div>
      <div class="span4">
        <img src="http://placehold.it/200x100">
        <h4>Conversion Percentage: {{conversionPercentage}}</h4>
        <p>The users who viewed your button and donated.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="main content-box">
    <h2 class="header-row">Upload Files</h2>
    <div style="height: 40px; margin-bottom: 30px; display: inline;">
      <div id="file-uploader" style="float:right;"></div>
    </div>
    <h4>Drag and drop files here or click  the 'Upload Files' button to upload a new document.
  </div>
</div>

<div class="container">
  <div class="main content-box">
    <div class="row-fluid">
      <h2 class="header-row-buttons">Documents</h2>
    </div>
    <div id="wrapper" class="row-fluid row-buttons">
      <ul id="columns">
        <li class="pin" ng-repeat="document in documents">
          <a href="/documents/{{document._id}}">
            <img src="http://placehold.it/200x100">
            <h4>{{document.title}}</h4>
            <p>Views: {{document.views}}</p>
            <p>Donations: {{document.dollarsTotal}}</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
