<div class="container">
  <div class="main">
    <h2 class="header-row">Dashboard</h2>

    <div id="info" class="row-fluid">
      <div class="span3">
        <img src="http://placehold.it/200x100">
        <h4>Buttons: {{widgets.length}}</h4>
        <p>Your active button count.</p>
      </div>
      <div class="span3">
        <img src="http://placehold.it/200x100">
        <h4>Total Money Raised: <span ui-currency ng-model="dashboard.totalMoneyRaised"></span></h4>
        <p>Amount raised from every donation by your buttons.</p>
      </div>
      <div class="span3">
        <img src="http://placehold.it/200x100">
        <h4>Conversion Percentage: {{dashboard.conversionPercentage}}%</h4>
        <p>% of users who viewed your button and donated.</p>
      </div>
      <div class="span3">
        <img src="http://placehold.it/200x100">
        <h4>Balance: <span ui-currency ng-model="dashboard.amountOwed"></span></h4>
        <p>The amount of money collected from your buttons which has not been paid to you.</p>
      </div>
    </div>
  </div>
</div>

<div class="container" id="home-widget-list">
  <div class="main content-box">
    <div class="row-fluid">
      <h2 class="span3 header-row-buttons">Buttons</h2>
      <div class="span9">
        <a class="btn btn-success" style="float:right;" href="#/widgets/create"><i class="icon-plus icon-white"></i> Create a Button</a>
        <div class="btn-group pull-right" style="margin-right: 10px;">
          <button class="btn" ng-disabled="viewDirection == 'desc'" ng-click="changeViewDirection('desc')"><i class="icon-arrow-down" tooltip="Sort descending" ></i></button>
          <button class="btn" ng-disabled="viewDirection == 'asc'" ng-click="changeViewDirection('asc')"><i class="icon-arrow-up" tooltip="Sort ascending"></i></button>
        </div>
        <div class="btn-group pull-right" style="margin-right: 10px;">
          <button class="btn" disabled><i class="icon-filter" tooltip="Filter options"></i></button>
          <button class="btn" ng-disabled="viewFilter == 'totalMoneyRaised'" ng-click="changeViewFilter('totalMoneyRaised')"><i class="icon-gift" tooltip="Filter by donation amount" ></i></button>
          <button class="btn" ng-disabled="viewFilter == 'dateCreated'" ng-click="changeViewFilter('dateCreated')"><i class="icon-calendar" tooltip="Filter by date added"></i></button>
          <button class="btn" ng-disabled="viewFilter == 'donorCount'" ng-click="changeViewFilter('donorCount')"><i class="icon-user" tooltip="Filter by amount of donors" ></i></button>
          <button class="btn" ng-disabled="viewFilter == 'viewCount'" ng-click="changeViewFilter('viewCount')"><i class="icon-eye-open" tooltip="Filter by viewers"></i></button>
        </div>
      </div>
    </div>
    <div id="wrapper" class="row-fluid row-buttons">
      <ul id="columns">
        <li class="pin" ng-repeat="widget in widgets">
          <a href="#/widgets/{{widget._id}}">
            <img src="http://placehold.it/200x100">
            <h4>{{widget.projectTitle}}</h4>
            <p><span tooltip title="Viewer Total"><i class="icon-eye-open"></i> {{widget.viewCount}}</span> | <span tooltip title="Donor Total"><i class="icon-user "></i> {{widget.donorCount}}</span> | <span class="currency" ui-currency ng-model="widget.totalMoneyRaised"></span></p>  
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
