<div class="container" id="view-widget-container">
  <div class="main">
    <h2 class="header-row"><a class="back" href="#/"><i class="icon-chevron-left"></i></a> {{widgetData.widget.projectTitle}}: {{widgetData.widget.title}}</h2>
    
    <div id="info" class="row-fluid">
      <div class="span4">
        <img src="http://placehold.it/200x100">
        <h4>View Count: {{widgetData.widget.viewCount}}</h4>
        <p>The total number of views this button has received.</p>
      </div>
      <div class="span4">
        <img src="http://placehold.it/200x100">
        <h4>Total Money Raised: <span ui-currency ng-model="widgetData.widget.totalMoneyRaised"></span></h4>
        <p>Amount raised from every donation by your buttons.</p>
      </div>
      <div class="span4">
        <img src="http://placehold.it/200x100">
        <h4>Conversion Percentage: {{widgetData.conversionPercentage}}%</h4>
        <p>The users who viewed your button and donated.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="main content-box">
    <h4 style="margin-bottom: 30px;">Usage</h4>
    <div id="chart-container" highchart></div>
  </div>
</div>

<div class="container">
  <div class="main content-box">
    <h4>Embed Code</h4>
    <div>
      <pre class="prettyprint linenums lang-html">
        &lt;div id=&quot;switch-widget-{{widgetData.widget._id}}&quot; class=&quot;switch-widget&quot;&gt;&lt;/div&gt;
        &lt;script type=&quot;text/javascript&quot; src=&quot;http://localhost:3000/api/widgets/{{widgetData.widget._id}}/embed/js&quot;&gt;&lt;/script&gt;
      </pre>
    </div>
  </div>
</div>

<div class="container">
  <div class="main content-box">
    <h4>Actions</h4>
    <div class="row-fluid">
      <div class="span12">
        <a class="btn btn-large" href="#/widgets/{{widgetData.widget._id}}/analytics">Configure Analytics</a>
        <!-- TODO: only render this if me.mailchimpAPIKey -->
        <a class="btn btn-large" href="#/widgets/{{widgetData.widget._id}}/mailchimp" style="margin-left: 10px;">Configure Mailchimp</a>
        <a id="delete-widget" class="btn btn-large btn-danger" data-loading-text="Loading..." data-toggle="modal" data-target="#myModal" style="margin-left: 10px;">Delete</a>
      </div>
    </div>
  </div>
</div>

<div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Delete Button?</h3>
  </div>
  <div class="modal-body">
    <p>This action cannot be undone.  Continue?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-danger" ng-click="deleteWidget()">Delete</button>
  </div>
</div>
